/* General Styles */
body {
    font-family: "Roboto", Helvetica, sans-serif;
    background-color: #c8d8e4
}

#content {
    text-align: center;
}

/* Header Section */
header {
    background-color: #52ab98;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 18vh;
}

nav {
    margin: 0 auto;
}

nav a {
    color: #f2f2f2;
    text-decoration: none;
    margin: 80px;
    font-size: 25px;
}

/* Hero Section */
h1 {
    font-size: 60px;
}

#hero {
    font-size: 20px;
    height: 75vh;
    padding-bottom: 420px;
}

#hero-img {
    height: 75vh;
    padding: 10px;
}

/* Main Content */
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 20px;
}

h3 {
    font-size: 25px;
}

/* Footer Section */
footer {
    background-color: #52ab98;;
    color: #f2f2f2;
    padding: 25px 50px;
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: #f2f2f2;
    font-size: 25px;
}